body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0px;
    background-image: url('../img/back.gif');
    background-color: rgb(26, 41, 47);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    font-size: 20px;
}

.flex {
    order: 2;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    align-self: center;
    flex-grow: 1;
}

header {
    order: 1;
    flex-grow: 0;
    align-self: stretch;
    height: 3vh;
    min-height: 30px;
    background-color: rgba(255, 237, 207, 0.65);
    font-family: fantasy;
    font-size: 20px;
    text-align: center;
}

main {
    order: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;

    max-width: 900px;
    max-height: 350px;
    min-height: 300px;
    width: 70vw;
    height: 30vh;
    padding: 10px;

    text-align: left;
    background-color: rgba(255, 237, 207, 0.65);
    border-radius: 20px;
}

.field_in {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    order: 1;
    flex-basis: 25vh;
    flex-grow: 3;

    min-width: 200px;
    padding: 10px;
    margin: 10px;


    border-radius: 20px;
    background-color: rgba(255, 237, 207, 0.55);
}

.img_field {
    display: flex;
    order: 2;
    justify-content: center;
    align-items: center;
    align-self: center;

    position: relative;
    height: 200px;
    width: 200px;

    min-height: 200px;
    padding: 10px;
    margin: 10px;
    vertical-align: middle;

    background-color: rgba(255, 237, 207, 0.55);
    border-radius: 20px;
}

.canvasGraph {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 0;
}

.canvas {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
}

.header_text {
    color: rgb(89,83,72);
}

.message {
    font-size: 20px;
    color: rgb(89,83,72);
}

.r_field {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 94%;
    height: 4vh;
    background-color: rgb(255, 237, 207);
    border-radius: 20px;
    padding: 10px;
    min-height: 25px;
}

.charR {
    align-self: center;
    color: rgb(89,83,72);
}

.r_input {
    width: 100%;
}

#R, #Y{
    width: 90%;
    height: 70%;
    text-align: center;
    font-size: 18px;
}

.y_field {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 94%;
    height: 4vh;
    background-color: rgb(255, 237, 207);
    border-radius: 20px;
    padding: 10px;
    min-height: 25px;
}

.charY {
    align-self: center;
    color: rgb(89,83,72);
}

.y_input {
    width: 100%;
}

.help_field {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 4vh;
}

.x_field {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4vh;
    width: 30%;
    background-color: rgb(255, 237, 207);
    border-radius: 20px;
    padding: 10px;
    min-height: 25px;
}

.check {
    display: flex;
    justify-content: center;
    width: 30%;
    border-radius: 20px;
    align-items: center;
    height: 4vh;
    padding: 10px;
    background-color: rgb(255, 237, 207);
    min-height: 25px;
}

.check_box {
    align-self: center;
    font-size: 18px;
    color: rgb(89,83,72);
    background-color: rgb(255, 237, 207);
    border: none;
    width: 100%;
    height: 4vh;
    min-width: 80px;
    min-height: 20px;
}

.charX {
    color: rgb(89,83,72);
    text-align: right;
}

#X {
    width: 60%;
    height: 4vh;
    font-size: 18px;
    min-height: 25px;
}

.table {
    order: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    list-style-type: none;
    background-color: rgba(255, 237, 207, 0.8);
    border-radius: 20px;
    margin-left: 2%;
    margin-right: 2%;
    max-width: 900px;
    max-height: 150px;
    min-height: 120px;
    width: 70vw;
    height: 10vh;

    font-size: 15px;

    flex-grow: 1;
    overflow: auto;
    padding: 20px;
}

.line {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.item {
    text-align: center;
    width: 16%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.one, .two, .three {
    width: 4%;
}

.table::-webkit-scrollbar {
    display: none;
}





@keyframes shake-hard {
    0% {
        -webkit-transform: rotate(0deg);
    }
    10% {
        -webkit-transform: rotate(-1deg);
    }
    20% {
        -webkit-transform: rotate(1deg);
    }
    30% {
        -webkit-transform: rotate(0deg);
    }
    40% {
        -webkit-transform: rotate(1deg);
    }
    50% {
        -webkit-transform: rotate(-1deg);
    }
    60% {
        -webkit-transform: rotate(0deg);
    }
    70% {
        -webkit-transform: rotate(-1deg);
    }
    80% {
        -webkit-transform: rotate(1deg);
    }
    90% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-1deg);
    }
}

.shake {
    animation-duration: 300ms;
    animation-iteration-count: infinite;
    animation-name: shake-hard;
    animation-timing-function: ease-in-out;
    border: 1px solid red;
    outline: none;
}

.fruits {
    border: none;
    opacity: 0;
    visibility: hidden;
    transition-property: opacity, visibility;
    transition-duration: 500ms;
    position: fixed;
    height: 30vh;
    width: 13vw;
    min-width: 128px;
    min-height: 128px;
    background-size: 100%;
    background-repeat: no-repeat;
    left: 10px;
    bottom: 10px;
    background-image: url("../img/1.png");
}

.achievement {
    right: 10px;
    border: none;
    opacity: 0;
    visibility: hidden;
    transition-property: opacity, visibility;
    transition-duration: 500ms;
    position: fixed;
    height: 15vw;
    width: 40vw;
    max-width: 600px;
    min-width: 250px;
    min-height: 60px;
    background-size: 100%;
    background-repeat: no-repeat;
    bottom: 10px;
    background-image: url("../img/ach.png");
}

::-webkit-input-placeholder {
    color: rgba(89,83,72, 0.5);
}

.check_box:hover {
    cursor: pointer;
}

.orehus {
    z-index: 5;
    width: 1vw;
    height: 1vw;
    min-height: 10px;
    min-width: 10px;
    background-size: 100%;
    background-image: url("../img/adidas/orehus.png");
    position: absolute;
    visibility: hidden;
}

.active {
    opacity: 1;
    visibility: visible;
}

@media (max-width: 975px) {
    main {
        flex-direction: column-reverse;
        max-height: 600px;
        min-height: 500px;
    }

    .second {
        align-self: center;
    }

    .x_field, .check, .r_field, .y_field {
        height: 3vh;
    }
}

@media (max-width: 600px) {
    #R, #Y, #X, .check_box, .charX, .charY, .charR, .message {
        font-size: 12px;
    }

    .fruits {
        height: 50vh;
    }

    .achievement {
        height: 40vh;
    }
}

@media (max-width: 480px) {
    header {
        height: 8vh;
        max-height: 50px;
        min-height: 50px;
    }
}

@media (max-height: 600px) {
    main {
        margin-top: 5vh;
        margin-bottom: 5vh;
    }
}
